.OtherIdeas-list {
	text-align: left;
}

.OtherIdeas-footer {
	padding: 0px 0px 1em 1.5em;
	display: flex;
	vertical-align: middle;
}

.OtherIdeas-footer-end{
	color: lightgray;
	text-align: center;
	width: 100%;
}