.Things-header {
	font-size: 1.1em;
	text-align: left;
	font-weight: 500;
	padding: 0px 0px 0px 0em;
}

li {
	padding-bottom: 0.1em;
}

.Things-container {
	padding: 0px 2em 0px 2em;
}

.Things-container > div {
	padding-bottom: 1em;
}
