img#animation-image{
	z-index: 0;
	animation: slideshow 20s linear;
}
img#animation-image:nth-child(20){
	z-index: -2;
	animation-delay: .2s;
}
img#animation-image:nth-child(19){
	z-index: -3;
	animation-delay: .4s;
}
img#animation-image:nth-child(18){
	z-index: -4;
	animation-delay: .6s;
}
img#animation-image:nth-child(17){
	z-index: -5;
	animation-delay: .8s;
}
img#animation-image:nth-child(16){
	z-index: -6;
	animation-delay: 1s;
}
img#animation-image:nth-child(15){
	z-index: -7;
	animation-delay: 1.2s;
}
img#animation-image:nth-child(14){
	z-index: -8;
	animation-delay: 1.4s;
}
img#animation-image:nth-child(13){
	z-index: -9;
	animation-delay: 1.6s;
}
img#animation-image:nth-child(12){
	z-index: -10;
	animation-delay: 1.8s;
}
img#animation-image:nth-child(11){
	z-index: -11;
	animation-delay: 2s;
}
img#animation-image:nth-child(11){
	z-index: -12;
	animation-delay: 2.2s;
}
img#animation-image:nth-child(10){
	z-index: -13;
	animation-delay: 2.4s;
}
img#animation-image:nth-child(9){
	z-index: -14;
	animation-delay: 2.6s;
}
img#animation-image:nth-child(8){
	z-index: -15;
	animation-delay: 2.8s;
}
img#animation-image:nth-child(7){
	z-index: -16;
	animation-delay: 3s;
}
img#animation-image:nth-child(6){
	z-index: -17;
	animation-delay: 3.2s;
}
img#animation-image:nth-child(5){
	z-index: -18;
	animation-delay: 3.4s;
}
img#animation-image:nth-child(4){
	z-index: -19;
	animation-delay: 3.6s;
}
img#animation-image:nth-child(3){
	z-index: -20;
	animation-delay: 3.8s;
}
img#animation-image:nth-child(2){
	z-index: -21;
	animation-delay: 4s;
}

img#animation-image:nth-child(1){
	z-index: -21;
	animation-delay: 20s;
}

@keyframes slideshow {
	30% { opacity: 1;}
	33.33% { opacity: 0;}
	91.66% { opacity: 0;}
	100% { opacity: 1;}
}