div#animation-container.animate > img{
	z-index: 0;
	animation: slideshow 20s linear;
	/* display: none; */
}


@keyframes slideshow {
	33% { opacity: 1;}
	33.33% { opacity: 0;}
	91.66% { opacity: 0;}
	100% { opacity: 1;}
}