.Header {
	font-size: 1.7em;
	font-weight: 200;
	color: white;
	font-family: 'Sree Krushnadevaraya', serif;

	/* margin-right: 1em; */
  }

.Header-top-bar{
	background-color: #282c34;
	height: 2.5em;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: left;
	padding-left: 4em;
	line-height: normal;
}

@media only screen and (max-width: 400px) {
	.Header{
		font-size: 1.4em;
	}
}


.Header-img{
	position: absolute;
	display: flex;
	flex: 1;
	left: 20px;
	top: 0.8em;
	flex: 1;
	border-radius: 100%;
	width: 3em;
	height: 3em;

	background-size: cover;
	background-position: center;
	background-clip: border-box;
	background-repeat: no-repeat;
}