.App {
  text-align: center;
  font-size: 16px;

  /* font-family: 'Sree Krushnadevaraya', serif; */
	font-family: 'Open Sans', sans-serif;
}


.App-header {

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
	padding-top: 3em;
}

.App-header-top-bar{
	background-color: #282c34;
	height: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-header-img{
	position: absolute;
	display: flex;
	flex: 1;
	left: 20px;
	top: 2em;
	flex: 1;
	border-radius: 100%;
	width: 4em;
	height: 4em;
	background-color: aqua;
}
